{% block content %}
<div class="container mt-4">
    <h3>Pilih Paket Lain:</h3>
    <table class="table table">
        <thead>
        <tr>
            <th>Nama</th>
            <th>Harga</th>
            <th>Resolusi Layar</th>
            <th>Dukungan Perangkat</th>
            <th>Beli</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>premium</td>
            <td>186,000 IDR </td>
            <td>Ultra HD</td>
            <td>4 supported device</td>
            <td>
                <a class="nav-link btn btn-outline-secondary" href="" style="color: white;">
                    <i class="fa fa-plus-square"></i> Beli
                </a>
            </td>
        </tr>
        <tr>
            <td>standar</td>
            <td>120,000 IDR</td>
            <td>Full HD</td>
            <td>2 supported device</td>
            <td>
                <a class="nav-link btn btn-outline-secondary" href="" style="color: white;">
                    <i class="fa fa-plus-square"></i> Beli
                </a>
            </td>
        </tr>
        <tr>
            <td>basic</td>
            <td>65,000 IDR</td>
            <td>HD</td>
            <td>1 supported device</td>
            <td>
                <a class="nav-link btn btn-outline-secondary" href="" style="color: white;">
                    <i class="fa fa-plus-square"></i> Beli
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
