{% block content %}
<div class="container mt-4">
    <h3>Paket Langganan Aktif Anda:</h3>
    <table class="table table">
        <thead>
        <tr>
            <th>Nama</th>
            <th>Harga</th>
            <th>Resolusi Layar</th>
            <th>Dukungan Perangkat</th>
            <th>Tanggal Dimulai</th>
            <th>Tanggal Akhir</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Premium</td>
            <td>75,000 IDR</td>
            <td>2160p60</td>
            <td>Television, Desktop, Mobile</td>
            <td>4/3/2024</td>
            <td>5/3/2024</td>
        </tr>
        </tbody>

    </table>
</div>
{% endblock %}
