{% block content %}
<div class="container mt-4">
    <h3>Pilih Paket Lain:</h3>
    <table class="table table">
        <thead>
        <tr>
            <th>Nama</th>
            <th>Harga</th>
            <th>Resolusi Layar</th>
            <th>Dukungan Perangkat</th>
            <th align="center">Beli</th>
        </tr>
        </thead>
        <tbody>

        {% for paket in packages %}
            <tr>
                <td>{{ paket.nama }}</td>
                <td>{{ paket.harga }}</td>
                <td>{{ paket.resolusi_layar }}</td>
                <td>{{ paket.dukungan_perangkat }}</td>
                <td>
                    <a class="nav-link btn btn-outline-secondary" href="../../user/halaman-beli/{{ paket.nama }}" style="color: white;">
                        <i class="fa fa-plus-square"></i> Beli
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
