{% block content %}
<div class="container mt-4">
    <h3>Paket Langganan Aktif Anda:</h3>
    <table class="table table">
        <thead>
        <tr>
            <th>Nama</th>
            <th>Harga</th>
            <th>Resolusi Layar</th>
            <th>Dukungan Perangkat</th>
            <th>Tanggal Dimulai</th>
            <th>Tanggal Akhir</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ active.nama }}</td>
            <td>{{ active.harga }}</td>
            <td>{{ active.resolusi_layar }}</td>
            <td>{{ active.dukungan_perangkat }}</td>
            <td>{{ active.tanggal_dimulai }}</td>
            <td>{{ active.tanggal_akhir }}</td>
        </tr>
        </tbody>

    </table>
</div>
{% endblock %}
