{% block content %}
<div class="container mt-4">
    <h3>Riwayat Transaksi</h3>
    <table class="table table" >
        <thead>
        <tr >
            <th>Nama Paket</th>
            <th>Tanggal Dimulai</th>
            <th>Tanggal Akhir</th>
            <th>Metode Pembayaran</th>
            <th>Tanggal Pembayaran</th>
            <th>Total Pembayaran</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Premium</td>
            <td>4/3/2024</td>
            <td>5/3/2024</td>
            <td>E-Wallet</td>
            <td>4/3/2024</td>
            <td>75,000 IDR</td>
        </tr>
        <tr>
            <td>Premium</td>
            <td>1/25/2024</td>
            <td>2/25/2024</td>
            <td>Transfer Bank</td>
            <td>1/25/2024</td>
            <td>75,000 IDR</td>
        </tr>
        <tr>
            <td>Basic</td>
            <td>12/12/2023</td>
            <td>1/12/2024</td>
            <td>E-Wallet</td>
            <td>12/12/2023</td>
            <td>30,000 IDR</td>
        </tr>
        <tr>
            <td>Basic</td>
            <td>10/14/2023</td>
            <td>11/14/2023</td>
            <td>Kredit</td>
            <td>10/14/2023</td>
            <td>30,000 IDR</td>
        </tr>
        <tr>
            <td>Standard</td>
            <td>8/20/2023</td>
            <td>9/20/2023</td>
            <td>Transfer Bank</td>
            <td>9/20/2023</td>
            <td>50,000 IDR</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
