<div class="container mt-4">
    <h2 style="font-weight: bold; text-align: left; margin-top: 30px; margin-bottom: 30px">Daftar Kontributor</h2>
<div class="dropdown" id="dropdown-container">
    <select class="form-select" aria-label="Default select example" style="width: 200px; margin-top: 40px" id="contributor-type">
        <option value="all" selected>Cari berdasarkan Tipe</option>
        <option value="Pemain">Pemain</option>
        <option value="Sutradara">Sutradara</option>
        <option value="Penulis Skenario">Penulis Skenario</option>
    </select>
</div>
<table class="table table mt-4" id="contributor-table">
    <colgroup>
        <col style="width: 200px"> <!-- Kolom Nama -->
        <col> <!-- Kolom Tipe -->
        <col> <!-- Kolom Jenis Kelamin -->
        <col> <!-- Kolom Kewarganegaraan -->
    </colgroup>
    <thead>
    <tr>
        <th>Nama</th>
        <th>Tipe</th>
        <th>Jenis Kelamin</th>
        <th>Kewarganegaraan</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Abdul Rahman</td>
        <td>Pemain</td>
        <td>Laki-laki</td>
        <td>Indonesia</td>
    </tr>
    <tr>
        <td>Chris Hemsworth</td>
        <td>Pemain</td>
        <td>Laki-laki</td>
        <td>Australia</td>
    </tr>
    <tr>
        <td>Emily Blunt</td>
        <td>Sutradara</td>
        <td>Perempuan</td>
        <td>Inggris</td>
    </tr>
    <tr>
        <td>Jane Doe</td>
        <td>Sutradara</td>
        <td>Perempuan</td>
        <td>Inggris</td>
    </tr>
    <tr>
        <td>John Smith</td>
        <td>Penulis Skenario</td>
        <td>Laki-laki</td>
        <td>Amerika</td>
    </tr>
    <tr>
        <td>Leonardo Dicaprio</td>
        <td>Penulis Skenario</td>
        <td>Laki-laki</td>
        <td>Amerika</td>
    </tr>
    </tbody>
</table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.getElementById('contributor-type').addEventListener('change', function() {
        var selectedType = this.value;
        var rows = document.querySelectorAll('#contributor-table tbody tr');
        rows.forEach(function(row) {
            var cell = row.querySelector('td:nth-child(2)');
            if (selectedType === 'all' || cell.textContent.trim() === selectedType) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>
