{% include "nav-main.html" %}
<style>
    * {
        color: white;
    }
</style>
{% block content %}
<div class="container mt-4">
    <h1>HALAMAN SERIES</h1>
    <h2> Judul: {{ series_data.judul }}</h2>
    
    <button class="btn btn-primary" href="">Download</button>
    <button class="btn btn-primary" href="">Favorite</button>

    <h3>Episodes</h3>
    <ul>
        {% for judul in series_data.episode_judul %}
        <li><a href="{% url 'infolist:detail_tayangan_episode' series_data.id_tayangan judul %}">Watch Episode {{forloop.counter}}- {{judul}} </a></li>
        {% endfor %}
    </ul>

    <p>Total Views: {{series.data }} </p>
    <p>Rating: {{series_data.average_rating}}</p>
    <p>Sinopsis: <br> {{series_data.sinopsis}}</p>
    <p>Genre:</p>
    <ul>
        {% for genre in series_data.genres %}
        <li>{{genre}}</li>
        {% endfor %}
    </ul>
    
    <!-- Cast -->
    <p>Pemain:</p>
    <ul>
        {% for pemain in series_data.pemain %}
        <li>{{pemain}}</li>
        {% endfor %}
    </ul>

    <!-- Screenplay Writers -->
    <p>Penulis:</p>
    <ul>
        {% for penulis in series_data.penulis_skenario %}
        <li>{{penulis}}</li>
        {% endfor %}
    </ul>

    <!-- Director -->
    <p>Sutradara: {{series_data.sutradara}}</p>

    {% include "ulasan-tayangan.html" %}
</div>
{% endblock %}
