{% include "nav-main.html" %}
<style>
    * {
        color: white;
    }
</style>
{% block content %}
<div class="container mt-4">
    <h1>HALAMAN FILM</h1>
    <h2> Judul: {{ movie_data.judul }}</h2>

    <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="action" value="range_input">
        <label for="Range-tonton" class="form-label">Tonton Film</label>
        <input type="range" class="form-range" min="0" max="100" step="0.5" id="Range-tonton" name="watch_percentage">
        <button type="submit" class="btn btn-primary">TONTON</button>
    </form>

    <button class="btn btn-primary" href="">Download</button>
    <button class="btn btn-primary" href="">Favorite</button>

    <p>Total View: {{movie_data.total_view_count}} </p>
    <p>Rating: {{ movie_data.average_rating }}</p>
    <p>Sinopsis: <br> {{ movie_data.sinopsis }}</p>
    <p>Durasi Film: {{ movie_data.durasi_film }}</p>
    <p>URL Film: {{ movie_data.url_video_film }}</p>

    <p>Genre:</p>
    <ul>
        {% for genre in movie_data.genres %}
        <li>{{ genre }}</li>
        {% endfor %}
    </ul>
        

    <p>Asal Negara: {{ movie_data.asal_negara }} </p>

    <!-- Cast -->
    <p>Pemain:</p>
    <ul>
        {% for pemain in movie_data.pemain %}
        <li>{{pemain}}</li>
        {% endfor %}
    </ul>

    <!-- Screenplay Writers -->
    <p>Penulis:</p>
    <ul>
        {% for penulis in movie_data.penulis_skenario  %}
        <li>{{penulis}}</li>
        {% endfor %}
    </ul>

    <!-- Director -->
    <p>Sutradara: {{movie_data.sutradara}}</p>

    {% include "ulasan-tayangan.html" %}
</div>
{% endblock %}
