{% include "nav-main.html" %}
<style>
    * {
        color: white;
    }
</style>
{% block content %}
<body>
    <div class="container">
        <h1>HALAMAN EPISODE</h1>
        <h2>Judul: {{ episode_data.series_judul }} </h2>
        <h3>Sub Judul: {{ episode_data.sub_judul }}</h3>

        <p>Sinopsis Episode: {{ episode_data.sinopsis }}</p>
        <p>Durasi Episode: {{ episode_data.durasi }} minutes</p>
        <p>URL Episode: <a href="{{ episode_data.url_video }}">Watch Episode</a></p>
        <p>Tanggal Rilis Episode: {{ episode_data.release_date }}</p>

        <h4>Episode Lainnya:</h4>
        <ul>
            {% for judul in episode_data.other_sub_juduls %}
            <li><a href="{% url 'infolist:detail_tayangan_episode' episode_data.id_series judul %}">{{ judul }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
{% endblock %}
