{% block content %}
<div class="container mt-4">
    <h2>Film</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Judul</th>
                <th>Sinopsis Trailer</th>
                <th>URL Trailer</th>
                <th>Tanggal rilis trailer</th>
                {% if user.is_authenticated %}
                <th>Tayangan</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Crac</td>
                <td>Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.</td>
                <td><a href="https://www.pacilflix.com/trailer/?id=d4f4e437-1cee-5262-8f60-15968c413f22">Link Trailer</a></td>
                <td>2024-03-01</td>
                {% if user.is_authenticated %}
                <td><a href="{% url 'infolist:detail_tayangan_film' %}" class="btn btn-primary">Tonton</a></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
