{% block content %}
<div class="container mt-4">
    <h2>Film</h2>
    <table class="table table">
        <thead>
            <tr>
                <th>Judul</th>
                {% if not request.session.is_authenticated %}
                    <th>Sinopsis Trailer</th>
                {% endif %}
                {% if request.session.is_authenticated %}
                    <th>Sinopsis</th>
                {% endif %}
                <th>URL Trailer</th>
                <th>Tanggal rilis trailer</th>
                {% if request.session.is_authenticated %}
                <th>Tayangan</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.judul }}</td>
                {% if not request.session.is_authenticated %}
                    <td>{{ movie.sinopsis_trailer }}</td>
                {% endif %}
                {% if request.session.is_authenticated %}
                    <td>{{ movie.sinopsis }}</td>
                {% endif %}
                <td><a href="{{ movie.trailer_url }}">Link Trailer</a></td>
                <td>{{ movie.release_date_trailer }}</td>
                {% if request.session.is_authenticated %}
                    <td><a href="{% url 'infolist:detail_tayangan_film' %}" class="btn btn-primary">Tonton</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
