{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Film</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Judul</th>
                <th>Sinopsis Trailer</th>
                <th>URL Trailer</th>
                <th>Tanggal rilis trailer</th>
                {% if  user.is_authenticated %}
                <th>Tayangan</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for film in films %}
            <tr>
                <td>{{ film.judul }}</td>
                <td>{{ film.sinopsis_trailer }}</td>
                <td><a href="{{ film.url_video_trailer }}">{{film.url_video_trailer}}</a></td>
                <td>{{ film.release_date_trailer }}</td>
                {% if  user.is_authenticated %}
                <td><button class="btn btn-primary"></button></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
