{% block content %}
<div class="container mt-4">
    <h2>Top 10 Tayangan Terbaik Minggu ini</h2>
    <div class="btn-group">
        <button class="btn btn-light" style="border: 1px solid #ccc; transition: background-color 0.3s;">Top 10 Global</button>
    </div>
    <table class="table table">
        <thead>
            <tr>
                <th>Judul</th>
                <th>Sinopsis Trailer</th>
                <th>URL Trailer</th>
                <th>Tanggal rilis trailer</th>
                <th>Total View 7 hari terakhir</th>
                {% if request.session.is_authenticated %}
                <th>Tayangan</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for tayangan in top10_global %}
            <tr>
                <td>{{tayangan.judul}}</td>
                <td>{{tayangan.sinopsis_trailer}}</td>
                <td><a href="{{tayangan.url_video_trailer}}">Link Trailer</a></td>
                <td>{{tayangan.release_date_trailer}}</td>
                <td>{{tayangan.view_count}}</td>
                {% if request.session.is_authenticated %}
                    {% if tayangan.type == 'film' %}
                    <td><a href="../../infolist/detail-tayangan-film/{{tayangan.id}}" class="btn btn-primary">Tonton</a></td>
                    {% else %}
                    <td><a href="../../infolist/detail-tayangan-series/{{tayangan.id}}" class="btn btn-primary">Tonton</a></td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

