{% block content %}
<div class="container mt-4">
    <h2>Top 10 Tayangan Terbaik Minggu ini</h2>
    <div class="btn-group">
        <button class="btn btn-light" style="border: 1px solid #ccc; transition: background-color 0.3s;">Top 10 Global</button>
        <button class="btn btn-light" style="border: 1px solid #ccc; transition: background-color 0.3s;">Top 10 Local</button>
    </div>
    <table class="table table">
        <thead>
            <tr>
                <th>Judul</th>
                <th>Sinopsis Trailer</th>
                <th>URL Trailer</th>
                <th>Tanggal rilis trailer</th>
                <th>Total View 7 hari terakhir</th>
                {% if user.is_authenticated %}
                <th>Tayangan</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Crac</td>
                <td>Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.</td>
                <td><a href="https://www.pacilflix.com/trailer/?id=d4f4e437-1cee-5262-8f60-15968c413f22">Link Trailer</a></td>
                <td>2024-03-01</td>
                <td>30K</td>
                {% if user.is_authenticated %}
                <td><a href="{% url 'infolist:detail_tayangan_film' %}" class="btn btn-primary">Tonton</a></td>
                {% endif %}
            </tr>
            <tr>
                <td>Resurrecting the Street Walker</td>
                <td>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vestibulum sagittis sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</td>
                <td><a href="https://www.pacilflix.com/trailer/?id=88ed18bf-74ee-530e-a9bc-5e107017dea1">Link Trailer</a></td>
                <td>2024-03-06</td>
                <td>30K</td>
                {% if user.is_authenticated %}
                <td><a href="{% url 'infolist:detail_tayangan_series' %}" class="btn btn-primary">Tonton</a></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

